* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    a {
        text-decoration: none;
    }
    
    ul {
        list-style-type: none;
    }
    img {
        display: block;
    }
}  

header {
    position: relative;
    background-image: url(../img/hero\ image.png);
    width: 100%;
    height: 820px;
    background-size: cover;
    nav {
        padding: 50px 165px;
        .container-nav {
            max-width: 1140px;
            margin: 0 auto;
            .nav-grid-box {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .left-logo-box {
                    img {
                        width: 100px;
                        height: 68px;
                    }
                }
                .right-menu-box {
                    ul {
                        display: flex;
                        gap: 23px;
                        align-items: center;
                        a {
                            color: #FFF;
                            font-family: Open Sans;
                            font-size: 14px;
                        }
                    }
                }
                .right-menu-box {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 22px;
                    position: relative;
                } 
                .menu-right {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 45px;
                    .menu2-left {
                        width: 130px;
                        height: 120px;
                        .a-nav {
                            a {
                                color: #FFF;
                                font-family: Open Sans;
                                font-size: 16px;
                                font-weight: 700;
    
                            }
                        }
                        p {
                            color: #FFF;
                            font-family: Open Sans;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                        }
                    }
                    .menu2-right {
                        a {
                            display: inline-block;
                            color: #FFF;
                            font-family: Open Sans;
                            font-size: 14px;
                            padding: 14px 18px;
                            background-color: #FF7400;
                            margin-top: 10px;
                            transition: .2s;
                            &:hover {
                                background-color: #e96c05;
                            }
                        }
                    }
                }
            }
            .burger {
                display: none;
                .bi-list {
                    top: 7%;
                    left: 90%;
                    position: absolute;
                    color: #FF7400;
                    font-size: 45px;
                }
                #open:checked + .burger-menu {
                    transform: translateY(0);
                }
                label {
                    cursor: pointer;
                }
                input {
                    display: none;
                }
                .burger-menu {
                    padding: 20px 0;
                    width: 350px;
                    position: absolute;
                    background-color: #000;
                    display: flex;
                    flex-direction: column;
                    left: 35%;
                    top: 0;
                    text-align: center;
                    transform: translateY(-100%);
                    transition: .3s;
                    .bi-x-circle {
                        color: #FF7400;
                        font-size: 28px;
                    }
                    a {
                        color: white;
                        display: inline-block;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .header-info {
        top: 43.5%;
        position: absolute;
        h1 {
            color: #D67E35;
        }
        .span-top-of-h1 {
            color: #D67E35;
            font-size: 50px;
            margin-left: 199px;
        }
        h1 {
            font-size: 80px;
            margin-left: 175px;
        }
        .span-center {
            color: #FFF;
            font-family: Open Sans;
            font-size: 18px;
            margin-left: 41%;
        }
        .h1-bottom-span {
            margin-top: 7px;
            .line-span{
                vertical-align: middle;
                display: inline-block;
                border: 2px solid #C4C4C4;
                width: 10%;
            }
        }
        a {
            display: inline-block;
            color: white;
            font-size: 14px;
            padding: 14px 26.5px;
            background-color: #FF7400;
            margin-top: 3.5%;
            margin-left: 54%;
            transition: .2s;
            &:hover {
                background-color: #e96c05;
            }
        }
    }
    .last-header-div {
        position: absolute;
        bottom: -29.5%;
        left: 11%;
        .abs-div-for-3cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 31px;
            text-align: center;
            .sect1-card1 {
                padding: 40px 0 0 0;
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;
                p {
                    width: 376px;
                    height: 85px;
                    color: #656363;
                    font-family: Tinos;
                    font-size: 26px;
                }
            }
            .sect1-card2 {
                padding: 40px 0 0 0;
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;
                p {
                    width: 376px;
                    height: 85px;
                    color: #656363;
                    font-family: Tinos;
                    font-size: 26px;
                }
            }
            .sect1-card3 {
                padding: 40px 0 0 0;
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;
                p {
                    width: 376px;
                    height: 85px;
                    color: #656363;
                    font-family: Tinos;
                    font-size: 26px;
                }
            }
            .sect1-card {
                width: 100%;
                height: 328px;
                background: #FFF;
                box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.10);
                .black {
                    color: #2C2C2C;
                    font-family: Tinos;
                    font-size: 26px;
                }
                .other-color-span {
                    color: #BC9060;
                    font-family: Tinos;
                    font-size: 26px;
                }
                img {
                    width: 111px;
                    height: 110px;
                    filter: invert(62%) sepia(13%) saturate(1208%) hue-rotate(351deg) brightness(95%) contrast(88%);
                }
            }
        }
    }
}

@media all and (min-width:320px) and (max-width:480px) {
    header {
        position: relative;
        background-image: url(../img/hero\ image.png);
        width: 520px;
        height: 900px;
        background-position: center;
        background-size: cover;
        nav {
            width: 100%;
            padding: 50px 165px;
            .container-nav {
                max-width: 1140px;
                margin: 0 auto;
                .nav-grid-box {
                    display: block;
                    margin-left: -100px;
                    .left-logo-box {
                        img {
                            width: 100px;
                            height: 68px;
                        }
                    }
                    .right-menu-box {
                        display: none;
                    } 
                }
                .burger {
                    display: block;
                    .bi-list {
                        top: 7%;
                        left: 75%;
                        position: absolute;
                        color: #FF7400;
                        font-size: 50px;
                    }
                    #open:checked + .burger-menu {
                        transform: translateY(0);
                    }
                    label {
                        cursor: pointer;
                        user-select: none;
                    }
                    input {
                        display: none;
                    }
                    .burger-menu {
                        padding: 20px 0;
                        width: 350px;
                        position: absolute;
                        background-color: #000;
                        display: flex;
                        flex-direction: column;
                        left: -25%;
                        top: 0;
                        transform: translateY(-100%);
                        transition: .3s;
                        .bi-x-circle {
                            color: #FF7400;
                            font-size: 28px;
                        }
                        a {
                            display:inline-block;
                            padding: 10px;
                        }
                    }
                }
            }
        }
        .header-info {
            top: 42%;
            left: -14%;
            position: absolute;
            h1 {
                color: #D67E35;
            }
            .span-top-of-h1 {
                color: #D67E35;
                font-size: 35px;
                margin-left: 160px;
            }
            h1 {
                font-size: 45px;
                margin-left: 175px;
            }
            .span-center {
                font-size: 19px;
                margin-left: 44%;
            }
            .h1-bottom-span {
                margin-top: 7px;
                .line-span{
                    display: none;
                }
            }
            a {
                display: inline-block;
                font-size: 14px;
                padding: 20px 40px;
                margin-top: 3.5%;
                margin-left: 48%;
                transition: .2s;
            }
        }
        .last-header-div {
            margin-left: 10px;
            position: absolute;
            bottom: -104%;
            left: 11%;
            .abs-div-for-3cards {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 31px;
                text-align: center;
                .sect1-card1 {
                    padding: 40px 0 0 0;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    align-items: center;
                    p {
                        width: 376px;
                        height: 85px;
                        color: #656363;
                        font-family: Tinos;
                        font-size: 26px;
                    }
                }
                .sect1-card2 {
                    padding: 40px 0 0 0;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    align-items: center;
                    p {
                        width: 376px;
                        height: 85px;
                        color: #656363;
                        font-family: Tinos;
                        font-size: 26px;
                    }
                }
                .sect1-card3 {
                    padding: 40px 0 0 0;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    align-items: center;
                    p {
                        width: 376px;
                        height: 85px;
                        color: #656363;
                        font-family: Tinos;
                        font-size: 26px;
                    }
                }
                .sect1-card {
                    width: 100%;
                    height: 328px;
                    background: #FFF;
                    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.10);
                    .black {
                        color: #2C2C2C;
                        font-family: Tinos;
                        font-size: 26px;
                    }
                    .other-color-span {
                        color: #BC9060;
                        font-family: Tinos;
                        font-size: 26px;
                    }
                    img {
                        width: 111px;
                        height: 110px;
                        filter: invert(62%) sepia(13%) saturate(1208%) hue-rotate(351deg) brightness(95%) contrast(88%);
                    }
                }
            }
        }
    }
}

main {
    .sect1 {
        position: relative;
        max-width: 1140px;
        margin:33% auto;
        .grid-2column-sect2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .left-sect2 {
                position: relative;
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 20px;
                .left-sect2-abs {
                    position: absolute;
                    left: 0;
                    bottom: -270px;
                    ul {
                        margin-top: 18px;
                        display: flex;
                        justify-content: center;
                        gap: 60px;
                    }
                    h2 {
                        color: #000;
                        font-family: Tinos;
                        font-size: 54px;
                        font-weight: lighter;
                        margin-bottom: 21px;
                        span {
                            color: #D67E34;
                            font-family: Tinos;
                            font-size: 54px;
                        }
                    }
                    p {
                        color: #656363;
                        font-family: Open Sans;
                        font-size: 16px;
                    }
                    ul {
                        margin-top: 60px;
                        li {
                             span {
                                color: #BC9060;
                                font-family: Open Sans;
                                font-size: 40px
                            }
                            h5 {
                                font-weight: lighter;
                                color: #000;
                                text-align: center;
                                font-family: Open Sans;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .right-sect2 {
                vertical-align: middle;
                position: relative;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                div {
                    position: absolute;
                }
                .d1 {
                    z-index: 2;
                    left: 5%;
                    bottom: -305px;
                }
                .d2 {
                    z-index: 1;
                    bottom: -336px;
                    left: 40%;
                }
                .d3 {
                    bottom: -402px;
                    z-index: 2;
                    left: 56%;
                }
                .back-div {
                    background-color: #FFE8D0;
                    width: 212px;
                    height: 164px;
                    left: 56%;
                    bottom: -100px;
                }
            }
        }
    }
    .sect2 {
        position: relative;
        background-image: url(../img/delicious-1866631_1920\ 1.png);
        width: 100%;
        height: 357px;
        background-size: cover;
        .div-back-sect2 {
            bottom: 0;
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 357px;
            background: rgba(0, 0, 0, 0.813);
        }
        .grid-sect2 {
            position: absolute;
            left: 15.5%;
            top: 50px;
            z-index: 2;
            display: grid;grid-template-columns: repeat(2, 1fr);
            gap: 331px;
            padding-top: 80px;
            align-items: center;
            .left-sect2 {
                h3 {
                    font-weight: lighter;
                    color: #D67E34;
                    font-size: 41px;
                }
                p {
                    margin-top: 10px;
                    color: #FFF;
                    font-size: 23.5px;
                }
                
            }
            .right-sect2 {
                a {
                    background: #FF7400;
                    padding: 14px 19px;
                    color: #FFF;
                    font-size: 14px;
                    transition: .2s;
                    &:hover {
                        background-color: #e96c05;
                    }
                }
            }
        }
    }
    .sect3 {
        .container-sect3 {
            margin: 132px auto 0 auto;
            max-width: 1140px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 139px;
            align-items: center;
            .top-sect3 {
                text-align: center;
                h4 {
                    font-weight: lighter;
                    color: #000;
                    font-family: Tinos;
                    font-size: 54px;
                    span {
                        color: #D67E34;
                        font-family: Tinos;
                        font-size: 54px;
                    }
                }
            }
            .bottom-sect3 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 25px;
                .left-bottom-sect3 {
                    .grid-div2 {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        
                    }
                }
                .right-bottom-sect3 {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 100px;
                    .right-bottom-sect3-card {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        .burg {
                            margin-bottom: 27px;
                        }
                        span {
                            font-family: Tinos;
                            font-size: 26px;
                        }
                    }
                }
            }
        }
    }
    .sect4 {
        background-image: url(../img/bar-1869656_1920\ 2.png);
        background-size: cover;
        width: 100%;
        height: 1034px;
        .container-sect4 {
            margin: 152px auto 0 auto;
            max-width: 1140px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 172px;
            .sect4-top-info {
                text-align: center;
                h2{
                    font-weight: lighter;
                    margin-top: 9.5%;
                    color: #FFF;
                    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                    font-family: Tinos;
                    font-size: 54px;
                }
            }
            .grid-sect4-3column {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 30px;
                .card-sect4 {
                    padding: 80px 62px 43px 62px;
                    background-color: white;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 16px;
                    h5 {
                        color: #000;
                        font-family: Tinos;
                        font-size: 26px;
                    }
                    p {
                        color: #000;
                        font-family: Open Sans;
                        font-size: 16px;
                        text-align: center;
                    }
                    a {
                        padding: 14px 68px;
                        color: #FFF;
                        text-align: center;
                        font-family: Open Sans;
                        font-size: 16px;
                        background: #D67E34;
                        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
                        transition: .2s;
                        &:hover {
                            background-color: #ae4f02;
                        }
                    }
                    .border-radius-img {
                        border-radius: 50%;
                    }
                    .sect4-abs-img {
                        position: absolute;
                        top: 40%;
                        left: 56%;
                    }
                    .sect4-abs-span {
                        position: absolute;
                        color: #000;
                        text-align: center;
                        font-family: Open Sans;
                        font-size: 13px;
                        background: #D67E34;
                        padding: 11px;
                        bottom: 472px;
                        left: 0;
                    }
                    .elips-span {
                        position: absolute;
                        color: #FFF;
                        font-family: Cookie;
                        font-size: 30px;
                        left: 63.5%;
                        bottom: 46.5%;
                    }
                }
            }
        }
    }
    .sect5 {
        background: #E5E5E5;
        .container-sect5 {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 17px;
            padding: 104px 260px 108px 260px;
            margin: 0 auto;
            max-width: 1140px;
            .point-img {
                display: flex;
                gap: 2px;
            }
            .nikolay {
                border-radius: 50%;
            }
            p {
                width: 920px;
                height: 52px;
                font-family: Open Sans;
                font-size: 20px;
                font-style: italic;
                margin-bottom: 35px;
            }
            span {
                color: #000;
                font-family: Open Sans;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
            }
            h4 {
                font-weight: lighter;
                color: #000;
                font-family: Open Sans;
                font-size: 20px;
            }
        }
    }
    .sect6 {
        .container-sect6 {
            position: relative;
            margin: 101px auto 0 auto;
            max-width: 1140px;
            .sect6-span-abs,
            .sect6-span2-abs {
                position: absolute;
                width: 30px;
                height: 100px;
                border: 16px solid #F00;
            }
            .sect6-span-abs {
                top: 16.5%;
                left: -190px;
            }
            .sect6-span2-abs {
                right: -189.5px;
                bottom: 70%;
            }
            .top-info-sect6 {
                h2 {
                    font-weight: lighter;
                    color: #000;
                    font-family: Tinos;
                    font-size: 54px;
                    text-align: center;
                    margin-bottom: 59px;
                    span {
                        color: #D67E34;
                        font-family: Tinos;
                        font-size: 54px
                    }
                }
            }
            .grid-sect6 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .left-sect6-card,
                .right-sect6-card {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    margin-bottom: 30px;
                }
                .left-sect6-card-col,
                .right-sect6-card-col {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    margin-bottom: 30px;
                }
            }
        }
    }
    .sect7 {
        .container-sect7 {
            margin: 101px auto 0 auto;
            max-width: 1140px;
            .top-info-sect7 {
                h3 {
                    margin-bottom: 101px;
                    text-align: center;
                    font-weight: lighter;
                    color: #000;
                    font-family: Tinos;
                    font-size: 54px;
                    span {
                        color: #D67E34;
                        font-family: Tinos;
                        font-size: 54px;
                    }
                }
            }
            .grid-sect7 {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 32px;
                align-items: center;
            }
        }
    }
}

@media all and (min-width:320px) and (max-width:480px) {
    main {
        width: 480px;
        .sect1 {
            max-width: 1140px;
            margin: 300% auto 150% auto;
            padding: 0 20px;
            .grid-2column-sect2 {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                .left-sect2 {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    .left-sect2-abs {
                        margin-left: 30px;
                        position: absolute;
                        left: 0;
                        bottom: -270px;
                        ul {
                            margin-top: 18px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 60px;
                        }
                        h2 {
                            color: #000;
                            font-family: Tinos;
                            font-size: 54px;
                            font-weight: lighter;
                            margin-bottom: 21px;
                            span {
                                color: #D67E34;
                                font-family: Tinos;
                                font-size: 54px;
                            }
                        }
                        p {
                            color: #656363;
                            font-family: Open Sans;
                            font-size: 16px;
                        }
                        ul {
                            margin-top: 60px;
                            li {
                                 span {
                                    color: #BC9060;
                                    font-family: Open Sans;
                                    font-size: 40px
                                }
                                h5 {
                                    font-weight: lighter;
                                    color: #000;
                                    text-align: center;
                                    font-family: Open Sans;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
                .right-sect2 {
                    vertical-align: middle;
                    position: relative;
                    margin-top: 20%;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    div {
                        position: absolute;
                        img {
                            width: 140px;
                        }
                    }
                    .d1 {
                        z-index: 2;
                        left:18%;
                        bottom: -470px;
                    }
                    .d2 {
                        z-index: 1;
                        bottom: -500px;
                        left: 40%;
                    }
                    .d3 {
                        bottom: -540px;
                        z-index: 2;
                        left: 225px;
                    }
                    .back-div {
                        background-color: #FFE8D0;
                        width: 140px;
                        height: 164px;
                        left: 50%;
                        bottom: -450px;
                    }
                }
            }
        }
        .sect2 {
            position: relative;
            background-image: url(../img/delicious-1866631_1920\ 1.png);
            width: 520px;
            height: 357px;
            background-size: cover;
            .div-back-sect2 {
                bottom: 0;
                z-index: 1;
                position: absolute;
                width: 100%;
                height: 357px;
                background: rgba(0, 0, 0, 0.813);
            }
            .grid-sect2 {
                margin-left: 30px;
                position: absolute;
                left: 5%;
                top: 50px;
                z-index: 2;
                display: grid;grid-template-columns: repeat(1, 1fr);
                gap: 50px;
                padding-top: 1px;
                align-items: center;
                .left-sect2 {
                    text-align: center;
                    h3 {
                        font-weight: lighter;
                        color: #D67E34;
                        font-size: 35px;
                    }
                    p {
                        margin-top: 10px;
                        color: #FFF;
                        font-size: 22px;
                    }
                    
                }
                .right-sect2 {
                    a {
                        margin-left: 30%;
                        background: #FF7400;
                        padding: 14px 19px;
                        color: #FFF;
                        font-size: 14px;
                        transition: .2s;
                        &:hover {
                            background-color: #e96c05;
                        }
                    }
                }
            }
        }
        .sect3 {
            width: 520px;
            .container-sect3 {
                margin: 132px auto 0 auto;
                max-width: 1140px;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 139px;
                align-items: center;
                .top-sect3 {
                    text-align: center;
                    h4 {
                        font-weight: lighter;
                        color: #000;
                        font-family: Tinos;
                        font-size: 54px;
                        span {
                            color: #D67E34;
                            font-family: Tinos;
                            font-size: 54px;
                        }
                    }
                }
                .bottom-sect3 {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 25px;
                    .left-bottom-sect3 {
                        display: grid;
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        gap: 25px;
                        .big-burger {
                            width: 100%;
                        }
                        .grid-div2 {
                            display: flex;
                            flex-direction: column;
                            gap: 27px;
                        }
                    }
                    
                    .right-bottom-sect3 {
                        padding: 0 30px;
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        .vector {
                            display: none;
                        }
                        .right-bottom-sect3-card {
                            display: flex;
                            align-items: center;
                            gap: 7px;
                            span {
                                font-family: Tinos;
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
        .sect4 {
            background-image: url(../img/bar-1869656_1920\ 2.png);
            background-size: cover;
            width: 520px;
            height: 1034px;
            .container-sect4 {
                padding: 0 55px;
                margin: 152px auto 0 auto;
                max-width: 1140px;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 172px;
                .sect4-top-info {
                    text-align: center;
                    h2{
                        font-weight: lighter;
                        margin-top: 9.5%;
                        color: #FFF;
                        text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                        font-family: Tinos;
                        font-size: 54px;
                    }
                }
                .grid-sect4-3column {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 30px;
                    .card-sect4 {
                        padding: 80px 62px 43px 62px;
                        background-color: white;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 16px;
                        h5 {
                            color: #000;
                            font-family: Tinos;
                            font-size: 26px;
                        }
                        p {
                            color: #000;
                            font-family: Open Sans;
                            font-size: 20px;
                            text-align: center;
                        }
                        a {
                            padding: 14px 68px;
                            color: #FFF;
                            text-align: center;
                            font-family: Open Sans;
                            font-size: 16px;
                            background: #D67E34;
                            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
                            transition: .2s;
                            &:hover {
                                background-color: #ae4f02;
                            }
                        }
                        .border-radius-img {
                            border-radius: 50%;
                        }
                        .sect4-abs-img {
                            position: absolute;
                            top: 40%;
                            left: 56%;
                        }
                        .sect4-abs-span {
                            position: absolute;
                            color: #000;
                            text-align: center;
                            font-family: Open Sans;
                            font-size: 13px;
                            background: #D67E34;
                            padding: 11px;
                            bottom: 479px;
                            left: 0;
                        }
                        .elips-span {
                            position: absolute;
                            color: #FFF;
                            font-family: Cookie;
                            font-size: 30px;
                            left: 63.5%;
                            bottom: 46.5%;
                        }
                    }
                    .none {
                        display: none;
                    }
                }
            }
        }
        .sect5 {
            width: 520px;
            background: #E5E5E5;
            .container-sect5 {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 17px;
                padding: 30px 260px 25px 260px;
                margin: 0 auto;
                max-width: 1140px;
                .point-img {
                    display: flex;
                    gap: 2px;
                }
                .nikolay {
                    border-radius: 50%;
                }
                p {
                    width: 290px;
                    height: 210px;
                    font-family: Open Sans;
                    font-size: 20px;
                    font-style: italic;
                    margin-bottom: 38px;
                }
                span {
                    color: #000;
                    font-family: Open Sans;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                }
                h4 {
                    font-weight: lighter;
                    color: #000;
                    font-family: Open Sans;
                    font-size: 20px;
                }
            }
        }
        .sect6 {
            padding: 20px;
            img {
                width: 100%;
            }
            .container-sect6 {
                position: relative;
                margin: 101px auto 0 auto;
                max-width: 1140px;
                .sect6-span-abs,
                .sect6-span2-abs {
                    display: none;
                }
                .sect6-span-abs {
                    top: 16.5%;
                    left: -190px;
                }
                .sect6-span2-abs {
                    right: -189.5px;
                    bottom: 70%;
                }
                .top-info-sect6 {
                    h2 {
                        font-weight: lighter;
                        color: #000;
                        font-family: Tinos;
                        font-size: 54px;
                        text-align: center;
                        margin-bottom: 59px;
                        span {
                            color: #D67E34;
                            font-family: Tinos;
                            font-size: 54px
                        }
                    }
                }
                .grid-sect6 {
                    width: 480px;
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 2px;
                    .left-sect6-card,
                    .right-sect6-card {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        margin-bottom: 30px;
                    }
                    .left-sect6-card-col,
                    .right-sect6-card-col {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        margin-bottom: 30px;
                        gap: 30px;
                    }
                }
            }
        }
        .sect7 {
            margin-left: 40px;
            img {
                width: 100%;
            }
            .container-sect7 {
                margin: 101px auto 0 auto;
                max-width: 1140px;
                .top-info-sect7 {
                    h3 {
                        margin-bottom: 101px;
                        text-align: center;
                        font-weight: lighter;
                        color: #000;
                        font-family: Tinos;
                        font-size: 54px;
                        span {
                            color: #D67E34;
                            font-family: Tinos;
                            font-size: 54px;
                        }
                    }
                }
                .grid-sect7 {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 32px;
                    align-items: center;
                }
            }
        }
    }
}



footer {
    margin-top: 101px;
    background-image: url(../img/footer.png);
    background-size: cover;
    width: 100%;
    height: 780px;
}


@media all and (min-width:320px) and (max-width:480px) {
    footer {
        margin-top: 50px;
        background-image: url(../img/footer.png);
        background-size: cover;
        width: 520px;
        height: 780px;
    }
}